body {
    font-family: 'Cantata One', serif;
}
/* font-family: 'Arima Madurai', cursive;
font-family: 'Italianno', cursive; */
#navnav{
    display: flex;
    position: fixed;
    min-width: 290px;
    width: 350px;
    height: 100%;
    border-right: 5px solid;
    border-color: rgba(17, 119, 119, 0.4);
}
.nav-link{
    display: block;
    padding: 30px 30px 30px 30px;
    font-size: medium;
    color: #4d4e53;
    border-top: 1px solid;
}
#navi{
    height: 90%;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Cantata One', serif !important;
}
#main-doc{
    position: absolute;
    margin-left: 350px;
    padding: 20px;
}
.main-section{
    padding-left: 20px;
    margin: 40px;
}
.lista{
    margin: 40px;
    border-radius: 15deg;
    background-color: beige;
}
@media screen and (max-width:768px) {
    #navnav{
        position: relative;
        width: 100%;
        max-height: 300px;
        border-bottom: 5px solid rgba(17, 119, 119, 0.4);
    }
    #main-doc{
        margin-left: 0px;
        margin-top: 10px;
    }
}